[Unit]
Description=IoT API (C#) - Development
After=network.target mariadb.service

[Service]
User=gruppe1
WorkingDirectory=/home/gruppe1/iot-api-publish
ExecStart=/home/gruppe1/.dotnet/dotnet /home/gruppe1/iot-api-publish/IoTApi.dll
Restart=always
RestartSec=5
Environment="ASPNETCORE_URLS=http://0.0.0.0:5001"
Environment="ASPNETCORE_ENVIRONMENT=Development"

[Install]
WantedBy=multi-user.target